DATABASE_URL="postgresql://postgres:postgres@localhost:5432/recomeai"
OMDB_API_KEY=""
OMDB_API_URL="https://www.omdbapi.com/"
ANILIST_API_URL="https://graphql.anilist.co"
ENABLED_PROVIDERS="mock,omdb,anilist,googlebooks"
EMBEDDINGS_API_BASE=""
EMBEDDINGS_API_KEY=""
EMBEDDINGS_DIM="768"
COHERE_API_KEY=""
LLM_RERANK_URL=""
LLM_RERANK_API_KEY=""
AVAILABILITY_AFFILIATE_TAG=""

